
@keyframes bg {
    0%   {background-image:linear-gradient(to top left, #b409a9, #0f2fce);}
    25%  {background-image:linear-gradient(to left top, #c222b7, #2137a3);}
    50%  {background-image:linear-gradient(to top left, #e439d8, #2a4dfd);}
    75%  {background-image:linear-gradient(to top left, #f050e5, #4662ec);}
    100% {background-image:linear-gradient(to left top, #c850c0, #4158d0);}
}
@keyframes inputh {
    to {
        border: 0px solid green;
    }
    from {
        border: 5px solid green;
    }
}

body,html {
    margin:0;
    padding:0;
    box-sizing:border-box;
    background-image:linear-gradient(-135deg, #c850c0, #4158d0);
    height:100%;
    font-family: 'Amatic SC', cursive;
    background-repeat:no-repeat;
    animation: bg 5s infinite linear;
    
}

.perfect-center {
    display:flex;
    align-items:center;
    justify-content:center;
    min-height:100vh;
 
}
.container-flex {
    width:75%;
    min-height: 90vh;
    background-color:rgba(255, 255, 255, 0.356);
    border-radius: 30px;
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    align-items:center;

}

.flex-item {
    
    height:65vh;
    
    width:30%;
    display:flex;
    

}
input, button {
    border: none;
    outline: none;
    margin-bottom:35px;
}

button:hover {
    cursor:pointer;
}
a {
    text-decoration:none;
    color:white;
}
.flex-item:nth-of-type(1) img {
    width:100%;
    height:100%;
    align-items:center;
    justify-content: center;
}
.flex-item:nth-of-type(2) {
   
    align-items:center;
    justify-content: center;
}
.login {
    display:flex;
    height:40vh;
    font-size: 2rem;
    width:100%;
    
    flex-direction:column;
    align-items:center;
    justify-content: center;
    
  
}

.email,.password {
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    font-size: 22px;
    line-height: 1.5;
    color: #666666;
    text-align:center;
    width:80%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 30px;
}
.password:focus {
    animation:inputh 2s;
    animation-fill-mode: forwards;
    animation: paused;
}
.btn-submit {
    font-family: 'Amatic SC', cursive;
    font-size: 22px;
    line-height: 1.5;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;

}



@media screen and (max-width:1000px) {
    .container-flex {
        
        width:90%;
        
    }
    .flex-item {
        width:90%;
        justify-content: center;
        align-items: center;
        
    }
    .flex-item:nth-of-type(1) {
        display:none;
        
    }
    
    body,html {
        background-size:100% 130%;
       
    }
    
}